# Nech prázdné pro Docker volume. Pokud chceš databázi v konkrétním
# adresáři na SSD, zkopíruj soubor jako .env a nastav absolutní cestu:
# SETLISTER_DATA_PATH=/mnt/ssd/setlister
SETLISTER_DATA_PATH=setlister-data
